body{
  background-color:darkred;
  color:rgb(247, 155, 155);
font-family: Arial, sans-serif;
margin: 0;
}
header{
    background-color:goldenrod;
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2{
    color:beige;
}

p{
    font-size: 18px;
    line-height: 1.6;
}

nav{
    margin-top: 20px;
}

nav a {
    color:rgb(247, 155, 155);
    text-decoration: none;
    background-color:aliceblue;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color:azure;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color:aliceblue;
    margin-top: 8px;
}

card {
    background-color:beige;
    padding: 15px;
margin: 15px 0;
border-left: 6px solid #f188d7;
border-radius: 10px;
}

card h3 {
    margin-top: 0;
}
footer {
    background-color:rgb(52, 214, 200);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
