body{
  background-color:darkred;
  color:rgb(247, 155, 155);
font-family: Arial, sans-serif;
}
header{
    background-color:goldenrod;
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2{
    color:beige;
}

p{
    font-size: 18px;
    line-height: 1.6;
}
